@font-face {
    font-family: "Proxima Nova";
    src: url('fonts/proximanova_regular.ttf');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url('fonts/proximanova_light.otf');
}

body {
    width: 1920px;
    height: 5155px;
    margin: 30px auto;
    background-color:  rgba(22, 40, 49, 1);
    font-family: Proxima Nova;
    color: #fff;
  }
  
  header {
    margin-bottom: 50px;
    padding-left: 312px;
    display: flex;
    align-items: center;
  }
  
  .header_logo {
    position: relative;
    height: 60px;
    width: 60px;
    margin-right: 230px;
    background-image: url('images/Vector.png');
  }
  
  .w {
    position: absolute;
    top: 13.51px;
    right: 14px;
    animation: w 3s linear infinite;
}


@keyframes w {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}
  
  
  nav {
    margin-right: 188px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }
  
  li {
    font-weight: 400;
    font-size: 14px;
    margin-right: 50px;
    color: white;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
  }
  
  a:hover {
    color: grey;
  }
  
  button {
    box-sizing: border-box;
    padding: 9px 15px;
    background-color: #018ABE;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s linear;
  }

  button:hover {
    background-color: #fff;
    color: #018ABE;
    cursor: pointer;
  }

  .banner {
    box-sizing: border-box;
    width: 1296px;
    height: 600px;
    margin: auto;
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-image: url('images/unsplash_S-llxYh3GzI.png');

    font-family: El Messiri;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color: #fff;

  }

  .first::before {
    content: url('images/Rectangle\ 3.png');
    margin-right: 66px;
  }

  .first::after {
    content: url('images/Rectangle\ 5.png');
    margin-left: 66px;
  }

  .second {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 89.6px;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 64px;
    line-height: 89.6px;

  }


  #seance {
    width: 1296px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: El Messiri;
    font-weight: 700;
  }

  .section_header {
    margin-bottom: 100px;
    
    font-size: 42px;
    line-height: 58.8px;
  }

  .section_header::before {
    content: url('images/Rectangle\ 6.png');
    margin-right: 45px;
    
  }

  .section_header::after {
    content: url('images/Rectangle\ 7.png');
    margin-left: 45px;
  }

  .flex {
    display: flex;
    width: 100%;
    height: 540px;
    gap: 24px;
    font-size: 24px;
    line-height: 33.6px;
  }

  .one {
    width: 416px;
    padding: 43px 50px;
    border-radius: 10px;
    border-bottom: #018ABE 7px solid;
    background-image: url('images/unsplash_TnOyyEtrKd0.png');
  }

  .two {
    width: 416px;
    height: 258px;
    padding: 30px 40px;
    background-image: url('images/unsplash_TnOyyEtrKd0\ \(1\).png');
  }

  .flex_int {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .one, .two {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: end;
  }


  #feedback {
    width: 1736px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: El Messiri;
    font-weight: 700;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    justify-content: space-between;
  }

  .low {
    width: 500px;
    height: 276px;
    padding: 40px 45px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    background-color: #018ABE;
  }

  .low h3 {
    font-size: 16px;
    font-weight: 300;
    font-family: Proxima Nova;
    line-height: 22.4px;
  }

  .low p {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
  }

  .high {
    width: 636px;
    height: 350px;
    padding: 50px 60px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #018ABE;
  }

  .high h3 {
    font-size: 20px;
    line-height: 28px;
  }
  

  .high p {
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
  }

  .squares {
    display: flex;
    width: 124px;
    height: 16px;
    justify-content: space-between;
  }

  .squares div {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.4;
  }

  .squares div:first-child {
    opacity: 1;
  }

  #about, #price {
    width: 1076px;
    height: 1024px;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: El Messiri;
    font-weight: 700;
  }

  #price {
    height: 614px;
  }

  .about_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .massage, .hydro {
    width: 100%;
    line-height: 22.4px;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    font-family: Proxima Nova Light;
    width: 466px;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bgi {
    width: 526px;
    height: 325px;
    background-image: url("images/Rectangle\ 23.png");
  }

  .hydro .bgi {
    height: 400px;
    background-image: url("images/Rectangle\ 24.png");
  }

  .price_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pricelist {
    list-style-image: url("images/Rectangle\ 27.png");
  }

  .pricelist li {
    box-sizing: border-box;
    padding-left: 20px;
    width: 416px;
    margin-bottom: 31px;
    font-family: Proxima Nova;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
  }

  li div {
    width: 368px;
    display: flex;
    justify-content: space-between;
  }

  li span {
    font-weight: 700;
    font-family: El Messiri;
  }

  .gift {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gift div {
    width: 526px;
    height: 396px;
    margin-bottom: 30px;
    background-image: url("images/unsplash_M3fhZSBFoFQ.png");
  }

  h4 {
    margin: 0;
    font-family: El Messiri;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
    text-align: center;
  }

  footer {
    width: 1296px;
    height: 604px;
    margin: 150px auto 90px;
    display: flex;
    justify-content: space-between;
  }

  .footer_wrap {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 100%;
    justify-content: space-between;
  }

  iframe {
    border-radius: 10px;
  }
  
  
  
  .pool {
    box-sizing: border-box;
    padding: 35px 45px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #018ABE;
    border-radius: 10px;
  
  }
  
  .pool ul {
    margin-top: 21px;
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
  }
  
  .pool ul li {
    margin-bottom: 21px;
    display: flex;
    align-items: start;
  }
  
  ul li.info {
    align-items: center;
  }
  
  
  
  h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin: 0;
    color: #fff;
  }
  
  .address::before {
    content: url('../images/geotag.png');
    margin-right: 23px;
    margin-left: 3px;
  }
  
  .metro::before {
    content: url('../images/m.png');
    margin-right: 20px;
  }
  
  .info::before {
    content: url('../images/calendar.png');
    width: 20px;
    height: 20px;
    margin-right: 20px;
    
  }
  
  .f-b {
    width: 155px;
    height: 36px;
    border: 0;
    padding: 9px 15px;
  
    gap: 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    color: #018ABE;
  }
  
  .f-b:hover {
    background-color: #018ABE;
    color: #fff;
    font-size: 11px;
    border: 0.5px solid white;
  }
  
  .marks {
    width: 1296px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 135%;
  }
  
  .marks {
    width: 1296px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 135%;
  }
  
  span a {
    margin: 0;
  }
  



